header {
  margin: 0;
  text-align: center;
  background-color: white;
  width: 100%;
}

body{
  margin: 0;
  font-family: 'Spectral', sans-serif;
  font-size: .85em;
}
h1 {
  text-align: center;
}

h2 {
  display: float;
  text-align: center;
  padding: 20px;
}

.piano {
  display: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}

footer {
  text-align: center;
  width: 100%
  padding: 10px;
}

div {
  width: 70%;
  margin: auto;
  text-align: center;
}

.action {
  display: center;
  height: 250px;
  width: 250px;
}

#nav-bar {
  float:right;

}
