header {
  margin: none;
  text-align: center;
  font-family: sans-serif;
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 100px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

li {
  float: right;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

body{
  background-color: #B4E4E5;
  font-family: block;
}

h1 {
  text-align: center;
}

h2 {
  display: float;
  text-align: center;
  padding: 20px;
}

.piano {
  display: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;

}

footer {
  text-align: center;
  width: 100%
  padding: 10px;
}
