body{
  background-color: #f6a16b;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  float: left;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
